  GNU nano 4.8                                                                          .gitignore                                                                                    
*.o
*.a
*.asv
*~
